<div fxLayout="column wrap" class="bg-ligth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" style="background-color: #0000002e" class="full-width full-height absolute" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page.loader"><bh-loader></bh-loader></div>
  <div fxLayout="row wrap" style="background:red;" fxLayoutAlign="start stretch" [fxShow]="true"><mat-toolbar [ngClass]="{&apos;scrolled&apos;:page.isScrolled,&apos;bg-light&apos;:!page.isScrolled}" class="toolbar true GREENISH-COLOR fullWidth">
      <div fxLayout="column wrap" fxFlex="9" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/dead_0r_alive-removebg-preview.png" routerLink="/DOAServices" class="FullHeight fullWidth"></div>
      <div fxLayout="column wrap" fxFlex="13" fxLayoutAlign="start stretch" [fxShow]="true">
        <p style="font-style: italic;     font-weight: lighter;">
          DOA</p>
      </div>
      <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            Plans</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="border: 2px solid ; padding-left:7px;padding-right:7px;border-radius:15px" class="landing-login" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="/login">
            <div>
              Login</div>
          </div>
        </div>
      </div>
    </mat-toolbar></div>
  <div fxLayout="column wrap" style="    margin-top: 69px;width: 62%;" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/call.png" class="image-call">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h1 style="    FONT-SIZE: 45PX;     font-weight: 200;" class="GREENISH-COLOR">
          Contact Us</h1>
      </div>
    </div>
    <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <form [formGroup]="page.formContact">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput name="email" placeholder="Your email address" [required]="false" formControlName="email">
            <mat-error align="start" *ngIf="page.formContact.controls.email?.errors?.required">Email is required</mat-error><mat-error align="start" *ngIf="page.formContact.controls.email?.errors?.pattern">Enter a valid email Address</mat-error> <mat-label>Email</mat-label>
          </mat-form-field>
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="cellphone " [required]="false" formControlName="cellPhone" oninput=" this.value = this.value.replace(/[^\d]/g,&#xA0;&apos;&apos;)">
            <mat-error align="start" *ngIf="page.formContact.controls.cellPhone?.errors?.required">Cellphone number is required</mat-error><mat-error align="start" *ngIf="page.formContact.controls.cellPhone?.errors?.pattern">Enter a valid South African celphone number</mat-error><mat-error align="start" *ngIf="page.formContact.controls.cellPhone?.errors?.minLenght">Enter a minimum of 10 number</mat-error><mat-error align="start" *ngIf="page.formContact.controls.cellPhone?.errors?.maxLenght">Enter maximum of 10</mat-error>
          </mat-form-field>
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput name="title" placeholder="Subject" [required]="false" formControlName="title">
            <mat-label>Title</mat-label>
          </mat-form-field><mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
            <mat-label>massege</mat-label>
            <textarea matInput formControlName="message" name="message" placeholder="Type your massege here...." [required]="false"></textarea>
          </mat-form-field><button mat-raised-button style="margin-bottom:15px" class="box-shadow yellow-bg" (click)="sendMessage()">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>