<div fxLayout="column " fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" style="background:red;" fxLayoutAlign="start stretch" [fxShow]="true"><mat-toolbar [ngClass]="{&apos;scrolled&apos;:page.isScrolled,&apos;bg-light&apos;:!page.isScrolled}" class="toolbar true GREENISH-COLOR fullWidth">
      <div fxLayout="column wrap" fxFlex="9" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/dead_0r_alive-removebg-preview.png" class="FullHeight fullWidth"></div>
      <div fxLayout="column wrap" fxFlex="13" fxLayoutAlign="start stretch" [fxShow]="true">
        <p style="font-style: italic;     font-weight: lighter;">
          DOA</p>
      </div>
      <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            Plans</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="border-radius: 18px; border: 2px solid #124e52; padding-left: 10px;padding-right: 10px; box-sizing: border-box" class="landing-login" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="/login">
            <div>
              Login</div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-raised-button style="display: flex;     align-items: center;     justify-content: center;" routerLink="/contact_us" class="box-shadow yellow-bg" (click)="sd_pQnOQ1kNl3GunXdh()">Need Help ?</button></div>
        </div>
      </div>
    </mat-toolbar></div>
  <div fxLayout="column wrap" style="background:#edf5f5;    margin-top: 64px;" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/homeeverythingendoflifeillustration.webp">
    <div fxLayout="row wrap" class="GREENISH-COLOR fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <h3 style="   FONT-SIZE: xx-large;     FONT-WEIGHT: 400;">
        Dignify Your Own Funeral</h3>
    </div>
  </div>
  <div fxLayout="column wrap" style="margin-bottom: 10px" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="GREENISH-COLOR" fxLayoutAlign="center center" [fxShow]="true">
      <h3 style="    FONT-SIZE: xx-large;     FONT-WEIGHT: 400;">
        Packages</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="CARDS" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="COLOR-WHITE GREENISH-BG" fxLayoutAlign="center center" [fxShow]="true">
          <h2>
            PLAN A</h2>
        </div>
        <div fxLayout="column wrap" style="height: 319px;" class="GREENISH-COLOR" fxLayoutAlign="center center" [fxShow]="true">
          <div style="align-items: center;  display:flex;flex-direction: column;">
            <span style="font-weight: bold ;font-size:x-large;">R90-00 p/m</span><br>
            <small style="font-weight: bold;">
              FAMILY COVER UP TO 65 YEARS</small><br>
            <small>MEMBER COVER R 3 000-00</small><br>
            <small>SPOUSE COVER R 3 000-00</small><br>
            <small>CHILDERN COVER R 1 500-00</small>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" class="CARDS" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="COLOR-WHITE GREENISH-BG" fxLayoutAlign="center center" [fxShow]="true">
          <h2>
            PLAN B</h2>
        </div>
        <div fxLayout="column wrap" style="height: 319px;" class="GREENISH-COLOR" fxLayoutAlign="center center" [fxShow]="true">
          <div style="align-items: center;  display:flex;flex-direction: column;">
            <span style="font-weight: bold ;font-size:x-large;">R110-00 p/m</span><br>
            <small style="font-weight: bold;">
              FAMILY COVER UP TO 65 YEARS</small><br>
            <small>MEMBER COVER R 5 000-00</small><br>
            <small>SPOUSE COVER R 5 000-00</small><br>
            <small>CHILDERN COVER R 2 500-00</small>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" class="CARDS" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="COLOR-WHITE GREENISH-BG" fxLayoutAlign="center center" [fxShow]="true">
          <h2>
            PLAN C</h2>
        </div>
        <div fxLayout="column wrap" style="height: 319px;" class="GREENISH-COLOR" fxLayoutAlign="center center" [fxShow]="true">
          <div style="align-items: center;  display:flex;flex-direction: column;">
            <span style="font-weight: bold ;font-size:x-large;">R140-00 p/m</span><br>
            <small style="font-weight: bold;">
              FAMILY COVER UP TO 65 YEARS</small><br>
            <small>MEMBER COVER R 10 000-00</small><br>
            <small>SPOUSE COVER R 10 000-00</small><br>
            <small>CHILDERN COVER R 5 000-00</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="    FONT-WEIGHT: 500;" class="COLOR-WHITE GREENISH-BG" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="    TEXT-ALIGN: center;" fxLayoutAlign="center center" [fxShow]="true">
      <h2>
        JOINING MEMBER FEE IS R100-00<br>
        SIX (6) MONTH WAITING TRAIL PERIOD<br>
        <br>
        THANK YOU FOR YOUR SUPPORT <br>
        WE WILL BE WITH YOU IN YOUR TIME OF SORROW
        <br>
        <small class="small-weight">&#xA9; 2024 DOA Funeral cover. All rights reserved.</small>
      </h2>
    </div>
  </div>
</div>