<div fxLayout="column wrap" style="padding: 3px; overflow: hidden;" class="light-grey-bg" fxLayoutGap="0.5em" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="height-12 white-bg full-width" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" class="width-15 full-height" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/images/D.O.A-logo.png" class="full-width"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          <!-- <h4 class="no-margin"> <span class="nav-name-LMN blue-color">Hi, welcome</span> Kimberly</h4> -->
          <h3 class="no-margin blue-color">D.O.A</h3>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="width-25 full-height" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" class="relative" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon>notifications</mat-icon>
        <div class="height-10 width-10 notif-padding yellow-bg top-1 right-1 center-center flex radius-50 absolute">
          0</div>
      </div>
      <div fxLayout="column wrap" class="blue-color light-grey-bg height-35 width-10 radius-50" fxLayoutAlign="center center" [fxShow]="true">
        <div>
          <h5><b>{{page.name}}{{ page.surname}}</b></h5>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="space-around center" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h3 class="blue-color">{{page.user.name}} {{page.user.surname}}</h3>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="pointer" [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="height: 84%" class="full-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="full-height full-width" fxLayoutGap="0.5em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="margin-left: 0.5em;" class="radius-bottom-right-LMN radius-top-right white-bg width-10 column flex full-height" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="pointer full-width white-bg center-center column flex height-12 nav-items radius-10px blue-color" fxLayoutGap="0.5em" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.sideNav; let i" (click)="selectedItem = i; navItems(item)" [class.nav-items]="selectedItem === i" [routerLink]="item.route" routerLinkActive="nav-items">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><mat-icon>{{item.icon}}</mat-icon></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h4 class="no-margin label nav-name-LMN">{{item.label}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="width:89%; overflow-y: scroll;" class="box-sizing padding-5px light-grey-bg" fxLayoutAlign="center stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="white-bg full-width" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" class="light-grey-bg" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h2 class="no-margin lightgrey-bg blue-color">{{page.navItem}}</h2>
            </div>
          </div><router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-menu #menu="matMenu"><button mat-menu-item class="blue-color" (click)="logout()">
      <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="teal-color">exit_to_app</mat-icon></div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <h3 class="blue-color no-margin">Logout</h3>
          </div>
        </div>
      </div>
    </button></mat-menu></div>