/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

//colors
$yellow: #f7dd71;
$light-grey: #edf5f5;
$light-blue: #124e52;
$teal-blue: #228bc4;
///////////////////////////////////////////////NICHOLAS STYLES START //////////////////////////////////////////////////////////////
//pages
bh-home {
    width: 100% !important;
}

body {
    font-family: "Open Sans", sans-serif;
}

//colors
.yellow-bg {
    background-color: $yellow !important;
}

.yellow-color {
    color: $yellow !important;
}

.light-blue-bg {
    background-color: $light-blue;
}

.light-grey-bg {
    background-color: $light-grey;
}

.blue-color {
    color: $light-blue;
}

.white-color {
    color: white;
}

.white-bg {
    background-color: white;
}

.red-bg {
    background-color: red;
}

//widths
.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%
}

.width-12 {
    width: 12%;
}

.width-20 {
    width: 20%;
}

.width-27 {
    width: 27%;
}

.width-25 {
width: 25%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.half-width {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-84 {
    width: 84%;
}

.width-90 {
    width: 90%;
}

.full-width {
    width: 100%;
}

//heights
.height-5 {
    height: 5%;
}

.height-10 {
    height: 10%;
}

.height-12 {
    height: 12%
}

.height-20 {
    height: 20%;
}

.height-30 {
    height: 30%;
}

.height-35 {
    height: 35%
}

.height-40 {
    height: 40%;
}

.half-height {
    height: 50%;
}

.height-60 {
    height: 60%;
}

.height-70 {
    height: 70%;
}

.height-80 {
    height: 80%;
}

.height-85 {
    height: 85%;
}

.height-90 {
    height: 90%;
}

.full-height {
    height: 100%;
}

//button styles
.box-shadow {
    border-bottom: 5.5px solid $light-blue !important;
    border-right: 5.5px solid $light-blue !important;
    border-radius: 10px !important;
}

.card-shadow {
    border: 1.5px solid $light-blue;
    border-right: 5.5px solid $light-blue;
    border-bottom: 5.5px solid $light-blue;
}

.filter-cards {
    border: 2px solid $light-blue;
    border-radius: 25px;
    padding: 5px;
}

.filter-cards:hover {
    border: 2px solid $teal-blue;
    cursor: pointer;
}

.box-shadow:hover {
    border: 3px solid $light-blue !important;
}

.nav-items {
    border: 3px;
    cursor: pointer;

    .mat-icon {
        color: $teal-blue !important;
    }

    .label {
        color: $teal-blue;
    }
}

.nav-items:hover {
    cursor: pointer;
    .mat-icon {
        color: $teal-blue !important;
    }

    .label {
        color: $teal-blue;
    }
}

//positions
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.right-1 {
    right: 1px;
}

.top-1 {
    top: 0px;
}

//radius
.radius-50 {
    border-radius: 50%;
}

.radius-10px {
    border-radius: 10px !important;
}

.radius-top-right {
    border-top-right-radius: 10px;
}

.radius-bottom-right-LMN {
    border-bottom-right-radius: 10px;
}

//margin

.no-margin {
    margin:0
}

.margin-left-1em {
    margin-left: 1em;
}

.margin-left-3em {
    margin-left: 3em;
}

.margin-right-1em {
    margin-right: 1em;
}

.margin-top-10px {
    margin-top: 10px;
}

//flex
.flex {
    display: flex !important;
}

.center-center {
    align-items: center !important;
    justify-content: center !important;
}

.column {
    flex-direction: column !important;
}

//fonts
.nav-name-LMN {
        font-weight: 500;
}

//padding
.notif-padding {
    padding: 6px;
    box-sizing: border-box !important;
}

.padding-5px {
    padding: 5px;
}

.box-sizing {
    box-sizing: border-box;
}

//search

.search{
   .mat-form-field-appearance-outline .mat-form-field-flex {
       height: 51px !important;
   }

   .mat-form-field-flex {
       display: flex !important;
       align-items: center;
   }

   .mat-form-field-appearance-outline .mat-form-field-outline {
       color: $light-blue;
       border: 1.5px solid $light-blue;
       border-radius: 30px !important;
       overflow: hidden !important;
   }
}

.pointer {
    cursor: pointer;
}

///////////////////////////////////////////////NICHOLAS STYLES END //////////////////////////////////////////////////////////////
