/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

//colors
$yellow: #f7dd71;
$light-grey: #edf5f5;
$light-blue: #124e52;