/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import '~dhtmlx-scheduler/codebase/dhtmlxscheduler.css';

body {
    height: 100%;
    width: 100%;
    margin: unset;
    // padding: 10px;
    // box-sizing: border-box;
}

$yellow: #f7dd71;
$light-grey: #edf5f5;
$light-blue: #124e52;
// angel //////////////////////////////////////
bh-contact_us{
    // background-color:#edf5f5 ;
    height: 100vh !important;
}
.FullHeight{
    height: 100%;
}
.width20{
    width: 5%;
}
.fullWidth{
    width: 100%;
}
.yellow-bg{
    background-color:$yellow;
}
.GREENISH-BG{
    background-color: #124e52;
}
.GREENISH-COLOR{
    color: $light-blue;
}
.COLOR-WHITE{
    color: WHITE;
}
.box-shadow {
    border-bottom: 5.5px solid #124e52 !important;
    border-right: 5.5px solid #124e52 !important;
    border-radius: 10px !important ;

}

.small-weight{
    font-weight: 50 !important;
    font-size: .5em !important;
}

.box-shadow:hover {
    border: 3px solid #124e52 !important;
}
.CARDS{
    border: solid 1px #124e5285;
     border-radius: 10px !important;
    height: 390px !important;
overflow: hidden;
margin-bottom: 10px;
}
.CARDS:hover {
     height: 390px;
         box-sizing: unset !important;
      border-bottom: 4.5px solid #124e52 !important;
     border-right: 4.5px solid #124e52 !important;
    border-radius: 10px !important;
}
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  z-index: 1000;
   background-color: #edf5f5;
}
.bg-ligth{
     background-color: #edf5f5;
}
.scrolled {
  background-color: white;

  border-bottom: 1px solid #ccc;

 }
.center-text{
    text-align: center
}
.image-call{
        width: 13rem;
        height: 13rem;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill){
    max-height: 80px;
}

// angel

//colors
$yellow: #f7dd71;
$light-grey: #edf5f5;
$light-blue: #124e52;
$teal-blue: #228bc4;
///////////////////////////////////////////////NICHOLAS STYLES START //////////////////////////////////////////////////////////////
//dhtmlx
:host{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.pad{
    // background-color: aqua;
    padding: -500px;
    box-sizing: border-box;
    border: 2px solid white;
}
//pages
bh-home {
    width: 100% !important;
}

.landing-login:hover{
    cursor: pointer;
    background-color: $yellow;
}

body {
    font-family: "Open Sans", sans-serif;
}

//colors
.yellow-bg {
    background-color: $yellow !important;
}

.yellow-color {
    color: $yellow !important;
}

.light-blue-bg {
    background-color: $light-blue !important;
}

.light-grey-bg {
    background-color: $light-grey;
}

.blue-color {
    color: $light-blue !important;
}

.white-color {
    color: white !important;
}

.white-bg {
    background-color: white;
}

.red-bg {
    background-color: red;
}

.teal-color {
    color: $teal-blue !important;
}

//widths
.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%
}

.width-12 {
    width: 12%;
}

.width-20 {
    width: 20%;
}

.width-27 {
    width: 27%;
}

.width-25 {
width: 25%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.half-width {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-84 {
    width: 84%;
}

.width-90 {
    width: 90%;
}

.full-width {
    width: 100%;
}

//heights
.height-5 {
    height: 5%;
}

.height-10 {
    height: 10%;
}

.height-12 {
    height: 12%
}

.height-20 {
    height: 20%;
}

.height-30 {
    height: 30%;
}

.height-35 {
    height: 35%
}

.height-40 {
    height: 40%;
}

.half-height {
    height: 50%;
}

.height-60 {
    height: 60%;
}

.height-70 {
    height: 70%;
}

.height-80 {
    height: 80%;
}

.height-85 {
    height: 85%;
}

.height-90 {
    height: 90%;
}

.full-height {
    height: 100%;
}

//button styles
.box-shadow {
    border-bottom: 5.5px solid $light-blue !important;
    border-right: 5.5px solid $light-blue !important;
    border-radius: 10px !important;
}

.card-shadow {
    border: 1.5px solid $light-blue;
    border-right: 5.5px solid $light-blue;
    border-bottom: 5.5px solid $light-blue;
}

.filter-cards {
    border: 2px solid $light-blue;
    border-radius: 25px;
    padding: 5px;
}

.filter-cards:hover {
    border: 2px solid $teal-blue;
    cursor: pointer;
}

.box-shadow:hover {
    border: 3px solid $light-blue !important;
}

.nav-items {
    border: 3px;
    cursor: pointer;

    .mat-icon {
        color: $teal-blue !important;
    }

    .label {
        color: $teal-blue;
    }
}

.nav-items:hover {
    cursor: pointer;
    .mat-icon {
        color: $teal-blue !important;
    }

    .label {
        color: $teal-blue;
    }
}

.table-icons {
     .mat-icon {
        color: $yellow !important;
    }
}

//positions
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.right-1 {
    right: 1px;
}

.top-1 {
    top: 0px;
}

//radius
.radius-50 {
    border-radius: 50%;
}

.radius-10px {
    border-radius: 10px !important;
}

.radius-top-right {
    border-top-right-radius: 10px;
}

.radius-bottom-right-LMN {
    border-bottom-right-radius: 10px;
}

//margin

.no-margin {
    margin:0
}

.margin-left-1em {
    margin-left: 1em;
}

.margin-left-3em {
    margin-left: 3em;
}

.margin-right-1em {
    margin-right: 1em;
}

.margin-top-10px {
    margin-top: 10px;
}

//flex
.flex {
    display: flex !important;
}

.center-center {
    align-items: center !important;
    justify-content: center !important;
}

.column {
    flex-direction: column !important;
}

//fonts
.nav-name-LMN {
        font-weight: 500;
}

//padding
.notif-padding {
    padding: 6px;
    box-sizing: border-box !important;
}

.padding-5px {
    padding: 5px;
}

.box-sizing {
    box-sizing: border-box;
}

//search

.search{
   .mat-form-field-appearance-outline .mat-form-field-flex {
       height: 51px !important;
   }

   .mat-form-field-flex {
       display: flex !important;
       align-items: center;
   }

   .mat-form-field-appearance-outline .mat-form-field-outline {
       color: $light-blue;
       border: 1.5px solid $light-blue;
       border-radius: 30px !important;
       overflow: hidden !important;
   }
}

.pointer {
    cursor: pointer;
}

///////////////////////////////////////////////NICHOLAS STYLES END //////////////////////////////////////////////////////////////


body{
    font-family: "Open Sans", sans-serif;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.nav-bar{
    height: 84px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid $light-blue;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.login{
    height: 60%;
    width: 6%;
    border-radius: 18px;
    border: 2px solid $light-blue;
    color: $light-blue;
    padding-bottom: 4px;
}

.login:hover{
    cursor: pointer;
}

.logo{
    height: 100%;
    width: 15%;
}

.section{
    height: calc(100% - 84px);
    background-color:#f7f9f9;
}

.login-form-container{
    height: 80%;
    width: 30%;
    background-color: white;
    border-radius: 7px;
    border: 2px solid #c5c5c6;
}

.form{
    padding: 2rem;
    box-sizing: border-box;
}

.login-text{
    height: 10%;
    font-family: Recoleta, serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: $light-blue;
    border-bottom: 1px solid $light-blue;
    margin-bottom: 20px;
}

.input-field{
    height: 30%;
}

.mat-form-field-infix{
    border-top: 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 10px !important;
}

.login-btn{
    height: 17%;
    background-color: $light-blue;
    border-radius: 10px;
}
.btn{
    height: 95%;
    width: 99%;
    background-color:$yellow;
    border-radius: 10px;
    color: $light-blue;
    border: 2px solid $light-blue;
}

.btn:hover{
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
}

.forgot-pass{
    height: 5%;
    margin-top: 10px;
    color: $light-blue;
}

.forgot:hover{
    cursor: pointer;
    color: blue;
}

//Loader

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.kg-full-width {
    width: 100%;
}

.kg-half-width {
    width: 50%;
}

.kg-full-height {
    height: 100%;
}

.kg-text-center {
    text-align: center;
}

.kg-pointer {
    cursor: pointer;
}

.kg-margin-top-3em {
    margin-top: 3em;
}

.kg-grey {
    background-color: $light-grey !important;
}

.kg-yellow {
    background-color: $yellow !important;
}