<div fxLayout="column wrap" class="relative full-width full-height" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="background-color: #0000002e" class="full-width full-height absolute" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page.loading"><bh-loader></bh-loader></div>
  <div fxLayout="column wrap" class="nav-bar" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="full-width full-height" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" class="logo" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/logo.jpg" style="width:38%; border-radius:50%" class="full-height"></div>
      <div fxLayout="column wrap" class="login" fxLayoutAlign="center center" [fxShow]="true" routerLink="/login">
        <div>
          Login</div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" class="section" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="login-form-container" fxLayoutAlign="start stretch" [fxShow]="true">
      <form #forgotPassForm="ngForm" class="form full-width full-height">
        <div fxLayout="column wrap" class="login-text" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            Forgot Password</div>
        </div>
        <div fxLayout="column wrap" class="input-field" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="height:20%; font-family: Fellix, sans-serif;" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <small>Email*</small>
            </div>
          </div>
          <div fxLayout="column wrap" style="height:50%;" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.forgotPassForm.email" name="email" type="email" placeholder="Exp. aa@aa.aa" [required]="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <mat-error align="start" *ngIf="forgotPassForm.controls.email?.invalid">Please enter a valid email address</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column wrap" style="margin-top:30px" class="relative login-btn" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="top: -6px; left: -4px" class="absolute btn" fxLayoutAlign="center center" [fxShow]="true" (click)="forgotPassword(forgotPassForm)">
            <div>
              Submit</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>