<div fxLayout="column wrap" class="relative full-width full-height" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="background-color: #0000002e" class="full-width full-height absolute" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page.loading"><bh-loader></bh-loader></div>
  <div fxLayout="column wrap" class="nav-bar" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="full-width full-height" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" class="logo" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="/DOAServices"><img imgSrc="/Web/images/logo.png" style="width:50%; border-radius:50%" class="full-height"></div>
      <div fxLayout="column wrap" class="landing-login login" fxLayoutAlign="center center" [fxShow]="true" routerLink="/login">
        <div>
          Login</div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" class="section" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="login-form-container" fxLayoutAlign="start stretch" [fxShow]="true">
      <form #resetPasswordForm="ngForm" class="form full-width full-height">
        <div fxLayout="column wrap" class="login-text" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            Reset Password</div>
        </div>
        <div fxLayout="column wrap" class="input-field" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="height:20%; font-family: Fellix, sans-serif;" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <small>Password*</small>
            </div>
          </div>
          <div fxLayout="column wrap" style="height:50%;" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.resetPasswordForm.password" name="password" type="{{page.inputType}}" placeholder="password" [required]="true" pattern="^[0-9]*$" maxlength="4" (input)="countCharacters($event)" minlength="4">
              <mat-error align="start" *ngIf="page.characterCount &lt; 4">Password should be 4 digits</mat-error><mat-error align="start" *ngIf="resetPasswordForm.controls.password?.errors?.pattern">Only Numbers Are Required</mat-error> <mat-icon matSuffix (click)="viewPassword()">{{page.icon}}</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column wrap" class="input-field" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="height:20%; font-family: Fellix, sans-serif;" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <small>Confirm Password*</small>
            </div>
          </div>
          <div fxLayout="column wrap" style="height:50%;" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput [(ngModel)]="page.resetPasswordForm.confirmPassword" name="confirmPassword" type="{{page.confirmPassType}}" placeholder="confirm password" [required]="true" (input)="countCharacters($event)" maxlength="4" pattern="^[0-9]*$" minlength="4">
              <mat-error align="start" *ngIf="resetPasswordForm.controls.password?.errors?.pattern">Only Numbers Are Required</mat-error><mat-error align="start" *ngIf="page.characterCount &lt; 4">Password Length Should be 4</mat-error> <mat-icon matSuffix (click)="viewPass()">{{page.confirmIcon}}</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column wrap" style="margin-top:30px" class="relative login-btn" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="top: -6px; left: -4px" class="absolute btn" fxLayoutAlign="center center" [fxShow]="true" (click)="resetPassword(resetPasswordForm)">
            <div>
              Submit</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>