<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="row wrap" style="margin-left: 23px;border-bottom: 1px solid #d3cece" fxFlex="55" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="25" fxLayoutAlign="center center" [fxShow]="true">
        <div class="CLAIMSCART">
          ALL</div>
      </div>
      <div fxLayout="column wrap" fxFlex="25" fxLayoutAlign="center center" [fxShow]="true">
        <div class="CLAIMSCART">
          ACTIVE</div>
      </div>
      <div fxLayout="column wrap" fxFlex="25" fxLayoutAlign="center center" [fxShow]="true">
        <div class="CLAIMSCART">
          PENDING</div>
      </div>
      <div fxLayout="column wrap" class="CLAIMSCART" fxFlex="25" fxLayoutAlign="center center" [fxShow]="true">
        <div class="CLAIMSCART">
          DRAFTS</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxFlex="40" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Input" [required]="false">

        </mat-form-field>
      </div>
      <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="display: flex;     align-items: center;     justify-content: center;" class="box-shadow yellow-bg">+ Log a claim</button></div>
    </div>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
</div>